.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #444242;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  animation: spin 2s linear infinite;
  margin: 5vh auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
