.loading {
  background-color: #ffffff;
  background-image: url('http://loadinggif.com/images/image-selection/3.gif');
  background-size: 25px 25px;
  background-position: right center;
  background-repeat: no-repeat;
}

.searchBar {
  width: 97%;
  margin: 20px 0;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #e3e3e3;
}

.searchBar:focus {
  outline: none;
}

.searchIcon {
  display: inline-block;
  width: 3%;
  margin: 20px 0;
  padding: 5px 0;
  border-bottom: 1px solid #e3e3e3;
}
